/* MainScreen.less */
@import "constants.less";

.main-screen-container {
  background-color: @base-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  color: @text-color;
}

.main-title {
  font-size: 2rem;
  color: @title-color; /* Color primario similar a Material-UI */
  margin-bottom: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-label {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.form-select {
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #1976d2; /* Color primario similar a Material-UI */
  border-radius: 4px;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-weight: 600;
  color: #fff;
}

.start-button {
  background-color: @primary-button-color; /* Color primario similar a Material-UI */
}

.new-game-button {
  position: absolute;
  background-color: @skull-king-color;
  left: 10px;
  font-size: 1.8rem;
  padding: 5px 15px;
}

.cancel-button {
  margin-left: 10px;
  background-color: @secondary-button-color;
}

input {
  border-radius: 4px;
  border: none;
  font-size: large;
}
